{% extends 'comparator.html'%}

{% block content1 %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          {% for x in comparator_comp1_search_query%}
       {{x.companies}}
          {% endfor%}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.trailing_PE}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.price_to_book}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.return_on_equity}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.return_on_assets}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.book_value}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.trailing_EPS}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.payout_ratio}}
          {% endfor%}
        </td>
      </tr>
    </tbody>
  </table>
{%  endblock %}

{% block content2 %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          {% for x in comparator_comp2_search_query%}
       {{x.companies}}
          {% endfor%}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.trailing_PE}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.price_to_book}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.return_on_equity}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.return_on_assets}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.book_value}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.trailing_EPS}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.payout_ratio}}
          {% endfor%}
        </td>
      </tr>
    </tbody>
  </table>
{%  endblock %}

{% block content3 %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
            <div class="row mb-4"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.trailing_PE}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.price_to_book}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.return_on_equity}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.return_on_assets}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.book_value}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.trailing_EPS}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp1_search_query%}
        {{x.payout_ratio}}
          {% endfor%}
        </td>
      </tr>
    </tbody>
  </table>
{%  endblock %}

{% block content4 %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
            <div class="row mb-4"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.trailing_PE}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.price_to_book}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.return_on_equity}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.return_on_assets}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.book_value}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.trailing_EPS}}
          {% endfor%}
        </td>
      </tr>
      <tr>
        <td>
          {% for x in comparator_comp2_search_query%}
        {{x.payout_ratio}}
          {% endfor%}
        </td>
      </tr>
    </tbody>
  </table>
{%  endblock %}